---
title: Grand Adventure Discoveries
---

div(ng-app="discovery")
  div(ng-controller="DiscoveryController")
    p What kind of story can you tell about this discovery?
    hr
    div
      button.btn.btn-default.pull-right(ng-click="refresh()")
        span.glyphicon.glyphicon-refresh
      strong(ng-bind="discovery_message")
    hr
    ol
      li(ng-repeat="discovery_item in discovery_history")
        strong(ng-bind="discovery_item")

script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
script
  :coffee-script
    app = angular.module 'discovery', []
    app.controller 'DiscoveryController', ($scope, $http, $log) ->
      $log.debug 'Initializing discovery data...'
      $scope.discovery_data = {}
      $scope.discovery_values = {}
      $scope.discovery_queue = []
      $scope.discovery_history = []
      $scope.discovery_message = "Loading..."

      $scope.refresh = () ->
        $scope.discovery_history = [$scope.discovery_message].concat($scope.discovery_history).slice(0, 10)
        $scope.discover('d4')

      $scope.discover = (start) ->
        $log.debug "Starting discovery at #{start}..."
        $scope.discovery_queue.push start
        message = ""
        while($scope.discovery_queue.length > 0)
          key = $scope.discovery_queue.pop()
          $log.debug "Looking up data for #{key}..."
          value = $scope.discovery_values[key] = _.sample($scope.discovery_data[key])
          $log.debug JSON.stringify(value)
          if value.template?
            message = value.template
          if value.next?
            $scope.discovery_queue.push value.next
          message = message.replace("%#{key}", value.name)
          $log.debug "Updated message to: #{message}"
        $scope.discovery_message = message

      $log.debug 'Retrieving discovery data...'
      $http.get('/assets/discovery.json').then (response) ->
        $log.debug 'Loaded discovery data'
        $scope.discovery_data = response.data
        $scope.discover("d4")
      , (response) ->
        $scope.discovery_message = "There was an error loading discovery data, try again later"
        $log.debug JSON.stringify(response)
