.page-header h1 {
  text-align: center;
}

ul.peppermile-menu {
  list-style-type: none;
  li {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .peppermile-menu {
    text-align: right;
  }
}

.peppermile-left-column {
  border-right: thin solid gray;
}

.directors-cut {
  display: none;
  border: thin solid blue;
  border-radius: 5px;
  padding: 4px 2px;
  background: #eef;
}
