extends ./three-column.jade

block main
  for post in pagination.files
    div
      h4
        a(href="/"+post.path)= post.title
        small &nbsp;- #{post.date.toDateString()}
      != post.less
  include ./pagination.jade
