doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      block title
        = title || "Peppermile"
    link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/css/font-awesome.min.css" rel="stylesheet")
    link(href="/assets/css/peppermile.css" rel="stylesheet")
    link(rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml")
  body
    block contents
      != contents
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
