ul.peppermile-menu
  for element in menu
    li
      a(href=element.url)= element.name
hr.hidden-xs
ul.peppermile-menu
  li
    small Other Game Creators
  for element in links
    li
      a(href=element.url)= element.name
hr.hidden-xs
p
  | Contact:
  a(href="mailto:garrett@peppermile.com") garrett@peppermile.com
